@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

.home__jersey {
	color: var(--main_color);
	width: 100%;
}

.product .flex {
	align-items: flex-start;
	height: 100%;
}

.product-list {
	/* padding: 2rem; */
	padding: 0 30px;
}

.product-list.flex-col {
	justify-content: space-evenly;
}

.club-name {
	font-family: 'Cardo', serif !important;
}
