.desc-img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

.description .img-holder {
	padding: 1rem;
	width: 100%;
}

.description .grid-2-col {
	grid-template-columns: 2.5fr 1fr;
	gap: 3rem;
}

.linked-text:hover {
	text-decoration: underline;
}

@media (max-width: 780px) {
	.description .grid-2-col {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}
